{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card-body p-5">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">
                <strong>Sign In</strong>
            </legend>
            {{ form|crispy}}

            <div style="display: flex; justify-content: center; align-items: center;">
                <button class="btn btn-lg btn-primary ml-2" type="submit" style="width: 200px;">Reset</button>
            </div>

            <div class="text-center p-3 ">
                <small class="text-muted"><a href="{% url 'user-login' %}">Go to Login instead</a></small>
            </div>
        </fieldset>
    </form>
  
</div>
{% endblock content %}