{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card-body p-5">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">
                <strong>Password Reset</strong>
            </legend>
            {{ form|crispy}}
            <div style="display: flex; justify-content: center; align-items: center;">
                <button class="btn btn-lg btn-primary" type="submit" style="width: 200px;">Reset Password</button>
            </div>

        </fieldset>
    </form>
  
</div>
{% endblock content %}