{% extends 'users/base.html' %}
{% block content%}

<div>
    <p class="alert alert-info text-center">If the email address exists in our systems, you will receive an email with the password reset instructions. Please check your Inbox and Spam/Junk folder.</p>
</div>

<div class="border-top mt-3 pt-2 text-center" >
    <div class="text-muted pb-2">
        <small>You can close this page</small>
    </div>
    
    <div class="">
        <button class="btn btn-sm btn-outline-primary" onclick="window.open('', '_self', ''); window.close();" >
            <strong>Close</strong>
        </button>
    </div>
</div>

{% endblock content%}