{% extends 'users/base.html' %}
{% block content%}

<div>
    <p class="alert alert-info text-center">You have successfully logged out. See you soon...</p>
</div>

<div class="border-top mt-3 pt-2 text-center" >
    <div class="text-muted pb-2">
        <small>Where to next?</small>
    </div>
    
    <div class="">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'tweets-home' %}"><strong>Go to Rwitter</strong></a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'user-login' %}"><strong>Login again</strong></a>
    </div>
</div>

{% endblock content%}